body {
    font-family: 'Roboto', sans-serif;
    background-color: #E4FFE9;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    box-shadow: 2px 0px 6px 2px #87D68D;
    width: 100%;
    height: 70px;
    padding: 0.5em 1.0em;
    background-color: #87D68D;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav div {
    background-color: #E4FFE9;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    margin: 0.5em 0;
}

nav h1 {
    font-size: 2rem;
    margin: 0px;
    letter-spacing: 0.1em;
    color: #1B1B1B;
}

nav > ul {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 1em;
}

li h1, h2 {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    outline: none;
    text-decoration: none;
    color: #1B1B1B;
}

.first-section {
    margin-top: calc(80px + 1em);
}

.introduction {
    border: 2px solid #1B1B1B;
    padding: 2em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction h1 {
    overflow: hidden; 
    border-right: .15em solid #87D68D; 
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 0;
    color: #1B1B1B;
    animation: 
        typing 2s steps(30, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #87D68D; }
}

.introduction p {
    font-size: 1.25rem;
    text-align: center;
}

section {
    margin: 0 1em 0 1em;
}

section > div {
    margin-bottom: 2em;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.content p {
    font-size: 1.20rem;
}

.row-reverse {
    flex-direction: row-reverse;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

section > div > img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1em;
    object-fit: cover;
}

section:last-of-type {
    margin-top: 4em;
    text-align: center;
}

section:last-of-type > h1 {
    font-size: 3rem;
}

.depth-introduction {
    padding: 1em 1em;
}

hr {
    margin-top: 5em;
    height: 0.2em;
    background-color: black;
}

@media (min-width: 769px) {
    main {
        width: 750px;
        background-color: #E4FFE9;
        margin: auto;
    }
    nav div {
        padding: 0.3em 0.5em;
    }
    .introduction {
        width: 750px;
    }
    .depth-introduction {
        width: 750px;
    }
    section {
        width: 750px;
        margin: auto;
    }
    section > div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }  
    section > div > div > h2{
        font-size: 2rem;
    }  
    section div > img {
        max-width: 400px;
        width: 80%;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    body {
        font-size: 12px;
    }
    nav h1 {
        font-size: 1.5rem;
    }
    nav > ul {
        margin-top: 0.75em;
        gap: 0;
        justify-content: space-between;
    }
    .introduction h1 {
        font-size: 2rem;
    }
    .margin-left {
        margin-left: 0;
    }
    .margin-right {
        margin-right: 0;
    }
    section:last-of-type > h1 {
        font-size: 2rem;
    }
    
}

@media (max-width: 400px) {
    body {
        font-size: 10px;
    }
    nav h1 {
        font-size: 1.25rem;
    }
    .introduction h1 {
        font-size: 1.5rem;
    }
    nav > ul {
        gap: 0;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .margin-left {
        margin-left: 0;
    }
    .margin-right {
        margin-right: 0;
    }
    section:last-of-type > h1 {
        font-size: 1.5rem;
    }
}