html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #E4FFE9;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 2px 0px 6px 2px #87D68D;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    gap: 14em;
    align-items: center;
    margin: 0;
    padding: 1em;
    background-color: #87D68D;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.first-section {
    margin-top: calc(80px + 1em);
}

#home {
    padding: 0.3em 0.5em;
    background-color: #E4FFE9;
    text-decoration: none;
    color: #1B1B1B;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5em;
}

header h1 {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin: 0;
    color: #1B1B1B;
}

#HireMeNow {
    letter-spacing: 0.1em;
}

#devs {
    width: 100%;
    display: flex;
    margin: 3em 0;
    justify-content: center;
}

img {
    border-radius:50%;
    animation: 3s infinite glow ease-in-out;
}

@keyframes glow {
    0%, 100%{
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 10px 6px #87D68D;
    }
}

a, area {
    outline: none;
}

#images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dev {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    width: 50%;
    text-align: center;
}

.dev h2 {
    font-weight: bold;
}

img {
    width: 15%;
    min-width: 200px;
    margin: 0;
    margin-bottom: 1em; 
}

#companies, #testimonials {
    padding: 1em;
}

#terms:visited {
    color: purple;
}

#companies h2, #testimonials h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    box-shadow: 0px 0px 3px 2px green;
}

#title-break {
    display: none;
}

table th {
    width: 33%;
}

th, td {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

.last-section {
    margin-bottom: calc(50px + 1.5em);
}

footer {
    background-color: #87D68D;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #1B1B1B;
    box-shadow: -2px 0px 6px 2px #87D68D;
}

footer h4 {
    text-align: center;
    margin: 0;
}

video {
    z-index: 1;
    margin-bottom: 5em;
    border-radius: 1em;
    box-shadow: 0px 0px 6px 2px green;
}

@media (min-width: 769px) {
    main {
        width: 750px;
        background-color: #E4FFE9;
        margin: auto;
    }
}
@media (min-width: 401px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    #title-break {
        display: block;
    }
    #companies h2 {
        font-size: 2rem;
    }
    #images {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    header {
        gap: 0;
        justify-content: space-between;
    }
    .first-section {
        margin-top: calc(80px + 1em);
    }
    .last-section {
        margin-bottom: calc(80px + 1.5em);
    }
}
@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
    header {
        gap: 0em;
        justify-content: space-between;
    }
    #title-break {
        display: block;
    }
    #companies h2 {
        font-size: 1.5rem;
    }
    #images {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .dev {
        width: 100%;
    }
    .first-section {
        margin-top: calc(80px + 1em);
    }
    .last-section {
        margin-bottom: calc(80px + 1.5em);
    }
}
